<h2>Hallo</h2>

<p>
<form method="post" action="cgi-bin/hop/noot/mies/wim/zus">
  <input type="submit" value="doit" name="naam">
</form>
<form method="post" action="cgi-bin/cgitest">
  <input type="submit" value="test" name="naam">
</form>
<form method="post" action="cgi-bin/prenv/aap/noot">
  <input type="submit" value="prenv" name="naam">
</form>
